body {
  color: white;
  font-family: "Montserrat";
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

.navbar {
  background-color: #005792;
  padding-left: 12%;
  padding-right: 12%;
}

.logo {
  height: 50px;
  width: 50px;
}

#title li {
  margin: auto .5rem;
}

.brand-font {
  color: white;
  font-family: "Source Code Pro";
  font-size: 2rem;
  font-weight: 700;
}

.check {
  border-color: #fdb44b;
  color: #fdb44b;
}

.check:hover {
  background-color: #fdb44b;
  color: white;
}

.background {
  background-color: #00204a;
  color: white;
  padding: 150px 12% 80px;
}

.column-1 {text-align: left;}

.column-2 {text-align: right;}

.download-button {margin: 5% 3% 5% 0;}

.analytics-icon {
  height: 300px;
  width: 300px;
}

#features {
  color: #5a5a5a;
  padding: 7% 12%;
}

.feature-spacing {padding: 4%;}

.feature-icons {
  color: #448ef6;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.feature-icons:hover {color: #005792;}

#infrastructure {
  background-color: #448ef6;
  padding: 7% 12%;
}

.column-3 {text-align: left;}

#infrastructure img {
  border-radius: 5%;
  border: 3px solid #fdb44b;
  height: auto;
  padding: 1.5%;
  width: 100%;
}

#pricing {
  color: #5a5a5a;
  padding: 7% 12%;
}

.disclaimer {font-size: .75rem;}

.disclaimer-star {color: #fdb44b;}

#cta {
  background-color: #00204a;
  padding: 5% 12% 3%;
}

#footer {
  color: #5a5a5a;
  font-size: .75rem;
}

.social-icons {
  color: #448ef6;
  padding: 5% 1% 1%;
}

.social-icons:hover {
  color: #005792;
  text-decoration: none;
}

.donate {color: #448ef6;}

.donate:hover {color: #fdb44b;}

.footer-link {color: #448ef6;}

.footer-link:hover {color: #005792;}

.footer-middle-p {margin-bottom: .5rem;}

@media (max-width: 991px) {
  .column-1 {text-align: center;}
  .column-2 {text-align: center;}
  .column-3 {text-align: center;}
}
